#com-chilipeppr-widget-super-touchplate .panel-body {
  padding: 0;
  position: relative;
  margin-bottom: -5px;
  height:300px;
}

#com-chilipeppr-widget-super-touchplate .settings-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 0px solid red;
}

#com-chilipeppr-widget-super-touchplate .input-group-addon {
  font-size: 10px;
}

#com-chilipeppr-widget-super-touchplate .panel-footer {
  font-size: 11px;
  padding: 0;
  margin: 0;
}

#com-chilipeppr-widget-touchplate-status {
  overflow: auto;
  max-height:30px;
  background: none;
  background-color: #f5f5f5;
  border: none;
}
